section {
    padding-top: 128px;
    position: relative;
}

section::before {
    z-index: -1;
    content: "";
    position: absolute;
    font-size: 72px;
    font-weight: 700;
    color: #575555;
    opacity: 0.25;
    top: 0px;
    left: 0px;
}

.btn {
    border: 3px solid #000000;
    border-radius: 24px;
}

.btn:hover {
    border: 3px solid #000000;
    background-color: #000000;
    color: #f4f4f4;
}

.navbar {
    background-color: #f4f4f4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.home img{
    width: 100%;
}

.home h1 {
    font-size: 72px;
}

.home h3 {
    font-size: 64px;
}

.home .arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.home .arrow img {
    width: 60px;
    cursor: pointer;
}

#arow {
    animation: 2s upDown infinite;
}

.about::before {
    content: 'About';
}

.about-exp-item {
    margin-top: 32px;
}

.about-exp-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-exp-item-detail {
    display: none;
}
.btn .button:hover {
    border: 3px solid #000000;
    background-color: #000000;
    color: #f4f4f4;
}

.btn.button.activeDetails {
    border: 3px solid #000000;
    background-color: #000000;
    color: #f4f4f4;
}


.work::before{
content: "Work";

}

.work-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "w1 w2" "w3 w3";
    gap: 16px;
}

.work-img-item{
    position: relative;
}
.work-img-item:hover::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;

}

.work-img img{
    width: 100%;
}


#work-1{
    grid-area: w1;
}
#work-1:hover::after{
    content: "Web Project";
}
#work-2{
    grid-area: w2;
}
#work-2:hover::after{
    content: "Software Project";
}
#work-3{
    grid-area: w3;
}
#work-3:hover::after{
    content: "Design Project";
}


.contact{
    padding-bottom: 128px;
}
.contact::before{
    content: "Contact";
}

.medsos img{
    cursor: pointer;
}

.contact-form{
    border: 1px solid #000000;
    padding: 64px 32px;
}
.form-label{
    font-weight: 700;
}

@keyframes upDown {
    0% {
        transform: translateY(5px);
    }
    25% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(10px);
    }

    75% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(5px);
    }
}
